.tag {
    display: flex;
    width: 80%;
    
    &-content {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0em;
        justify-content: center;
        display: flex;
        background-color: #FF6060;
        align-items: center;
        width: 28%;
        height: 25px;
        border-radius: 10px;
        margin-right: 10px;
        padding-bottom: 3px;
        color: #FFF;
    }
}

@media screen and (min-width: 320px) and (max-width:767px) {
    .tag {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        

        &-content {
            font-size: 10px;
            width: 25%;
            height: 1.1rem;
            margin-bottom:0.5rem;
        }

    }
}
