.slideshow {
    display: flex;
    align-items: center;
    width: 100%;
    &-content-img {
        width: 1240px;
        
    }
    &-img {
        width: 100%;
        height: 415px;
        object-fit: cover;
        position: relative;
        border-radius: 25px;
        margin: 0 auto;
    }
    &-counter {
        position:absolute;
        left: 49%;
        bottom: 40%;
        font-size: 18px;
        & img {
            height: 1.5rem;
        }  
    }
}

.arrow-l, .arrow-r {
    position:relative;
    z-index: 5;
    display: flex;
    align-items: stretch;
    cursor: pointer;
   
}

.arrow-l {
    left: 6%; 
}

.arrow-r {
   right: 6%;
}
.inactive {
    display: none;
}
.active {
    display: block;
}

/* RESpONSIVE */
@media screen and (min-width: 320px) and (max-width:767px) {
    .slideshow {
        width: calc(100% - 40px);
        position: relative;
      
        &-img {
            width: 125%;
            height: 255px;
            object-fit: cover;
            position: relative;
            border-radius: 10px;
            left:-10%
            
        }
        &-counter {
            position:absolute;
            bottom: 2%;
            
            font-size: 18px;
            & img {
                height: 20px;
            }
        }
    }
    .arrow-l img,.arrow-r img {
        height: 40px;
    }
    .arrow-l {
        left: 3%;
        
    }
    .arrow-r {
       
        left: 0%;
    }
}

@media screen and (min-width:320px) and (max-width:425px) {
    .slideshow {
        &-counter {
            left: 40%;
        }
    }
    
}
@media screen and (min-width:426px) and (max-width:600px) {
    .slideshow {
        &-counter {
            left: 45%;
        }
    }
    
}

@media screen and (min-width:601px) and (max-width:767px) {
    .slideshow {
        &-counter {
            left: 40%;
        }
    }
    
}
@media screen and (min-width:768px) and (max-width:1024px) {
    .slideshow {
        &-counter {
            left: 45%;
            bottom: 5%;
        }
    
        .arrow-l {
            left: 10%;
            
        }
        .arrow-r {
           
            right: 10%;
        }
    }
    
}
@media screen and (min-width:1025px) and (max-width:1400px) {
    .slideshow {
        &-counter {
            left: 45%;
            bottom: 5%;
        }
    }
    
}



