.slideshow {
    display: flex;
    align-items: center;
    &-img {
        width: 1240px;
        height: 415px;
        object-fit: cover;
        position: relative;
        border-radius: 25px;
    }
    &-counter {
        position:absolute;
        left: 46%;
        bottom: 53%;
        font-size: 18px;

        
    }
}

.arrow-l, .arrow-r {
    position:relative;
    z-index: 5;
    display: flex;
    align-items: stretch;
    cursor: pointer;
   
}

.arrow-l {
    left: 6%;
    
}

.arrow-r {
   right: 6%;
}
.inactive {
    display: none;
}
.active {
    display: block;
}

.slideshow-bullet {

}

