.slideshow {
    display: flex;
    align-items: center;
    &-img {
        width: 1240px;
        height: 415px;
        object-fit: cover;
        position: relative;
        border-radius: 25px;
        margin: 0 auto;
    }
    &-counter {
        position:absolute;
        left: 49%;
        bottom: 52%;
        font-size: 18px;
        & img {
            height: 1.5rem;
        }

        
    }
}

.arrow-l, .arrow-r {
    position:relative;
    z-index: 5;
    display: flex;
    align-items: stretch;
    cursor: pointer;
   
}

.arrow-l {
    left: 6%;
    
}

.arrow-r {
   right: 6%;
}
.inactive {
    display: none;
}
.active {
    display: block;
}

/* RESpONSIVE */
@media screen and (min-width: 320px) and (max-width:767px) {
    .slideshow {
        margin: auto 20px;
        
        &-img {
            width: 335px;
            height: 255px;
            object-fit: cover;
            position: relative;
            border-radius: 10px;
            left:-10%
            
        }
        &-counter {
            position:absolute;
            bottom: 55%;
            font-size: 18px;
            & img {
                height: 20px;
            }
        }
    }
    .arrow-l img,.arrow-r img {
        height: 40px;
    }
    .arrow-l {
        left: 0%;
        
    }
    .arrow-r {
       
        left: -20%;
    }
}

@media screen and (min-width:320px) and (max-width:425px) {
    .slideshow {
        &-counter {
            left: 35%;
        }
    }
    
}
@media screen and (min-width:426px) and (max-width:600px) {
    .slideshow {
        &-counter {
            left: 25%;
        }
    }
    
}

@media screen and (min-width:601px) and (max-width:767px) {
    .slideshow {
        &-counter {
            left: 20%;
        }
    }
    
}

@media screen and (min-width:1000px) and (max-width:1440px) {
    .slideshow {
        &-counter {
            left: 30%;
            bottom: 30%;
        }
    }
    
}



