
.App {
  text-align: center;
  font-family:'Montserrat',sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

@media screen and (max-width:320px) {
  .App {
    max-width: 320px;
    border:1px solid black;
    margin:0 auto;
  }
}


