.property {
    height: 115vh;
    color: #FF6060;
   

    &-informations {
        margin: 0 100px;
        display: flex;
        justify-content: space-between;
    }

    &-left {
        width: 50%;
    }

    &-details {
        display: flex;
        justify-content: space-between;
        margin: 0 100px;
        align-items: center;
        padding-top: 34px;
    }
 
    &-desc {
        margin: 0 100px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &-description, &-equipments {
            width: 590px;
          
            
        }
        
    }
}
.equipment {
    margin: 0;
    list-style-type: none; 
}

.star-empty {
    fill: #ff6060;
}



/*RESPONSIVE */
@media screen and (min-width: 320px) and (max-width:767px) {
    .property {
        width: 375px;

        &-informations {
            display: flex;
            flex-direction: column;
            margin: 0 20px;
            justify-content: left;
        }

    &-right {
       
       
    }
    &-details {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin:0;
    }      
    
    &-desc {
        margin: 0;
        display: flex;
        flex-direction: column;
        
        &-description, &-equipments {
            width: 100%;
        }
        
    }

    }
}
