
.header {
    margin: 40px 100px;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    @media screen and (min-width: 375px) {
            margin: 20px;
     }
    &-img {
        @media screen and (min-width: 375px) and (max-width: 767px) {
            width: 145px;
     }
        &-content {
            @media screen and (min-width: 375px) and (max-width: 767px) {
                width: 100%;
         }

        }
    }
    


    &-nav-list {
        display: flex;
        list-style-type: none;
        @media screen and (min-width: 375px) and (max-width: 767px) {
            width: 140px;
            
     }
        &-elt {
            color:#FF6060;
            margin-left: 57px;
            text-decoration: none;
            width: 116px;
            line-height: 34.22px ;
            @media screen and (min-width: 375px) and (max-width: 767px) {
                font-size: 12px;
                text-transform: uppercase;
                
         }
        }
    }
}

.active-link {
    text-decoration-line: underline;
}

