.gallery {
    margin: 0 100px;
    margin-top: 43px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #F7F7F7;
    border-radius: 25px;
    padding: 56px 50px;
}

// MEDIA QUERIES
@media screen and (max-width: 767px) {
    .gallery {
        margin: 0 20px;
        padding: 22px 0;
        display: flex;
        flex-direction: column;
        background-color: inherit;
    }
   
}

@media screen and (min-width:768px) and (max-width: 984px) {
    .gallery {
        background-color: inherit;
        justify-content: center;
        
    }
   
}


