.banner {
    margin-top: 68px;
    width: 1240px;
    height: 223px;
    background-color: #000000;
    border-radius: 25px;
    mix-blend-mode: darken;
    

    &-img {
       
        border-radius: 25px;
        opacity: 0.5;
        

    }
    &-title {
        position: absolute;
        top: 20%;
        left: 35%;
        font-style: normal;
        font-weight: 500;
        font-size: 48px;
        line-height: 142.6%;
        color: #FFFFFF;
   
    }
}